@page "/books"
@inherits InventoryPageBase<BookDto>
@rendermode InteractiveServer
@attribute [Authorize]

<InventoryList TDto="BookDto"
               Title="Books"
               Items="@_items"
               Loading="@_loading"
               Error="@_error"
               Search="@_search"
               Page="@_page"
               TotalPages="@TotalPages"
               TotalCount="@_totalCount"
               ShowForm="@_showForm"
               EditingInline="@_editingInline"
               Form="@_form"
               InlineForm="@_inlineForm"
               OnSearchKeyUp="@OnSearchKeyUp"
               OnClearSearch="@ClearSearch"
               OnGoToPage="@GoToPage"
               OnShowAddForm="@ShowAddForm"
               OnCancelForm="@CancelForm"
               OnSave="@SaveAsync"
               OnStartInlineEdit="@StartInlineEdit"
               OnCancelInline="@CancelInline"
               OnSaveInline="@SaveInlineAsync"
               OnDelete="@DeleteAsync"
               OnSearchChanged="@OnSearchChanged">
    <HeaderTemplate>
        <th>Title</th>
        <th>Author</th>
        <th>Series</th>
        <th>Rating</th>
        <th>Finished at</th>
    </HeaderTemplate>
    <RowTemplate Context="book">
        <td>@book.Title</td>
        <td>@book.Author</td>
        <td>@book.Series</td>
        <td><span class="kt-stars"><StarRating Rating="book.Rating" /></span></td>
        <td>@book.FirstReadAt?.ToString("yyyy-MM-dd")</td>
    </RowTemplate>
    <FormTemplate Context="book">
        <input class="form-control" placeholder="Title" @bind="book.Title" />
        <input class="form-control" placeholder="Author" @bind="book.Author" />
        <input class="form-control" placeholder="Series" @bind="book.Series" />
        <input class="form-control" @bind="book.Rating" type="number" min="0" max="5" step="0.1" />
        <input class="form-control" placeholder="Finished at" @bind="book.FirstReadAt" @bind:format="yyyy-MM-dd" type="date" />
    </FormTemplate>
    <EditModalTemplate Context="book">
        <div class="col-12">
            <label class="form-label">Title</label>
            <input class="form-control" @bind="book.Title" />
        </div>
        <div class="col-md-6">
            <label class="form-label">Author</label>
            <input class="form-control" @bind="book.Author" />
        </div>
        <div class="col-md-6">
            <label class="form-label">Series</label>
            <input class="form-control" @bind="book.Series" />
        </div>
        <div class="col-md-6">
            <label class="form-label">Genre</label>
            <input class="form-control" @bind="book.Genre" />
        </div>
        <div class="col-md-6">
            <label class="form-label">Rating</label>
            <input class="form-control" @bind="book.Rating" type="number" min="0" max="5" step="0.1" />
        </div>
        <div class="col-md-6">
            <label class="form-label">Notes</label>
            <textarea class="form-control" @bind="book.Notes" rows="4"></textarea>
        </div>
        <div class="col-md-6">
            <label class="form-label">First read at</label>
            <input class="form-control" type="date" @bind="book.FirstReadAt" @bind:format="yyyy-MM-dd" />
        </div>
    </EditModalTemplate>
</InventoryList>
