@page "/cars"
@inherits InventoryPageBase<CarDto>
@rendermode InteractiveServer
@attribute [Authorize]

<InventoryList TDto="CarDto"
               Title="Cars"
               ItemName="Car"
               Route="@ListRoute"
               Items="@(Items ?? [])"
               Loading="@_loading"
               Loaded="@_loaded"
               Error="@_error"
               Search="@_search"
               Page="@_page"
               TotalPages="@TotalPages"
               TotalCount="@TotalCount"
               ShowForm="@_showForm"
               Form="@_form"
               ItemTitle="@(car => car.Name)"
               OnSearchKeyUp="@OnSearchKeyUp"
               OnClearSearch="@ClearSearch"
               OnGoToPage="@GoToPage"
               OnShowAddForm="@ShowAddForm"
               OnCancelForm="@CancelForm"
               OnSave="@SaveAsync"
               OnDelete="@DeleteAsync"
               OnSearchChanged="@OnSearchChanged"
               Sort="@_sort"
               OnSortChanged="@SetSort">
    <MetaTemplate Context="car">
        @if (!string.IsNullOrEmpty(car.Manufacturer) || !string.IsNullOrEmpty(car.Model))
        {
            <span>@($"{car.Manufacturer} {car.Model}".Trim())</span>
        }
        @if (car.Year > 0)
        {
            <span>@car.Year</span>
        }
        @if (!string.IsNullOrEmpty(car.LicensePlate))
        {
            <span>@car.LicensePlate</span>
        }
    </MetaTemplate>
    <FormTemplate Context="car">
        <div class="col-12">
            <input class="form-control" placeholder="Name" data-testid="name-input" @bind="car.Name" />
        </div>
        <div class="col-md-6">
            <input class="form-control" placeholder="Manufacturer" @bind="car.Manufacturer" />
        </div>
        <div class="col-md-6">
            <input class="form-control" placeholder="Model" @bind="car.Model" />
        </div>
        <div class="col-6 col-md-4">
            <input class="form-control" placeholder="Year" @bind="car.Year" type="number" min="1900" max="2100" />
        </div>
    </FormTemplate>
</InventoryList>
