@page "/houses"
@inherits InventoryPageBase<HouseDto>
@rendermode InteractiveServer
@attribute [Authorize]

<InventoryList TDto="HouseDto"
               Title="Houses"
               ItemName="House"
               Items="@_items"
               Loading="@_loading"
               Error="@_error"
               Search="@_search"
               Page="@_page"
               TotalPages="@TotalPages"
               TotalCount="@_totalCount"
               ShowForm="@_showForm"
               EditingInline="@_editingInline"
               Form="@_form"
               InlineForm="@_inlineForm"
               OnSearchKeyUp="@OnSearchKeyUp"
               OnClearSearch="@ClearSearch"
               OnGoToPage="@GoToPage"
               OnShowAddForm="@ShowAddForm"
               OnCancelForm="@CancelForm"
               OnSave="@SaveAsync"
               OnStartInlineEdit="@StartInlineEdit"
               OnCancelInline="@CancelInline"
               OnSaveInline="@SaveInlineAsync"
               OnDelete="@DeleteAsync"
               OnSearchChanged="@OnSearchChanged">
    <HeaderTemplate>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>Country</th>
        <th></th>
    </HeaderTemplate>
    <RowTemplate Context="house">
        <td style="font-weight:500">
            <a href="@($"/houses/{house.Id}")">@house.Name</a>
        </td>
        <td>@house.Address</td>
        <td>@house.City</td>
        <td>@house.Country</td>
        <td></td>
    </RowTemplate>
    <FormTemplate Context="house">
        <div class="col-12">
            <label class="form-label">Name</label>
            <input class="form-control" data-testid="name-input" @bind="house.Name" />
        </div>
        <div class="col-12">
            <label class="form-label">Address</label>
            <input class="form-control" @bind="house.Address" />
        </div>
        <div class="col-md-4">
            <label class="form-label">City</label>
            <input class="form-control" @bind="house.City" />
        </div>
        <div class="col-md-4">
            <label class="form-label">Postal code</label>
            <input class="form-control" @bind="house.PostalCode" />
        </div>
        <div class="col-md-4">
            <label class="form-label">Country</label>
            <input class="form-control" @bind="house.Country" />
        </div>
    </FormTemplate>
    <EditModalTemplate Context="house">
        <div class="col-12">
            <label class="form-label">Name</label>
            <input class="form-control" @bind="house.Name" />
        </div>
        <div class="col-12">
            <label class="form-label">Address</label>
            <input class="form-control" @bind="house.Address" />
        </div>
        <div class="col-md-4">
            <label class="form-label">City</label>
            <input class="form-control" @bind="house.City" />
        </div>
        <div class="col-md-4">
            <label class="form-label">Postal code</label>
            <input class="form-control" @bind="house.PostalCode" />
        </div>
        <div class="col-md-4">
            <label class="form-label">Country</label>
            <input class="form-control" @bind="house.Country" />
        </div>
        <p class="kt-card-meta">Manage notes and history from the house's detail page.</p>
    </EditModalTemplate>
</InventoryList>
