@page "/houses"
@inherits InventoryPageBase<HouseDto>
@rendermode InteractiveServer
@attribute [Authorize]

<InventoryList TDto="HouseDto"
               Title="Houses"
               ItemName="House"
               Route="@ListRoute"
               Items="@(Items ?? [])"
               Loading="@_loading"
               Error="@_error"
               Search="@_search"
               Page="@_page"
               TotalPages="@TotalPages"
               TotalCount="@TotalCount"
               ShowForm="@_showForm"
               Form="@_form"
               ItemTitle="@(house => house.Name)"
               OnSearchKeyUp="@OnSearchKeyUp"
               OnClearSearch="@ClearSearch"
               OnGoToPage="@GoToPage"
               OnShowAddForm="@ShowAddForm"
               OnCancelForm="@CancelForm"
               OnSave="@SaveAsync"
               OnDelete="@DeleteAsync"
               OnSearchChanged="@OnSearchChanged"
               Sort="@_sort"
               OnSortChanged="@SetSort">
    <MetaTemplate Context="house">
        @if (!string.IsNullOrEmpty(house.City))
        {
            <span>@house.City</span>
        }
        @if (house.PropertyType is not null)
        {
            <span>@house.PropertyType</span>
        }
    </MetaTemplate>
    <FormTemplate Context="house">
        <div class="col-12">
            <input class="form-control" placeholder="Name" data-testid="name-input" @bind="house.Name" />
        </div>
        <div class="col-12">
            <input class="form-control" placeholder="City" @bind="house.City" />
        </div>
    </FormTemplate>
</InventoryList>
