@page "/playlists"
@inherits InventoryPageBase<PlaylistDto>
@attribute [Authorize]

<InventoryList TDto="PlaylistDto"
               Title="Playlists"
               ItemName="Playlist"
               Route="@ListRoute"
               Items="@(Items ?? [])"
               Loading="@_loading"
               Loaded="@_loaded"
               Error="@_error"
               Search="@_search"
               Page="@_page"
               TotalPages="@TotalPages"
               TotalCount="@TotalCount"
               ShowForm="@_showForm"
               Form="@_form"
               ItemTitle="@(playlist => playlist.Title)"
               OnSearchKeyUp="@OnSearchKeyUp"
               OnClearSearch="@ClearSearch"
               OnGoToPage="@GoToPage"
               OnShowAddForm="@ShowAddForm"
               OnCancelForm="@CancelForm"
               OnSave="@SaveAsync"
               OnDelete="@DeleteAsync"
               OnSearchChanged="@OnSearchChanged"
               Sort="@_sort"
               OnSortChanged="@SetSort">
    <MetaTemplate Context="playlist">
        <span>@playlist.SongIds.Count song@(playlist.SongIds.Count == 1 ? "" : "s")</span>
    </MetaTemplate>
    <FormTemplate Context="playlist">
        <div class="col-12">
            <input class="form-control" placeholder="Title" data-testid="title-input" @bind="playlist.Title" />
        </div>
    </FormTemplate>
</InventoryList>
